*.rs linguist-detectable=true
*.bin linguist-detectable=false
*.d linguist-detectable=false
*.o linguist-detectable=false
*.sh linguist-detectable=false
*.toml linguist-detectable=false
*.rmeta linguist-detectable=false
*.lock linguist-detectable=false
*.json linguist-detectable=false
*.timestamp linguist-detectable=false
*.xml linguist-detectable=false
*.yml linguist-detectable=false
*.yaml linguist-detectable=false
*.h linguist-detectable=false
*.ll linguist-detectable=false
*.llvm linguist-detectable=false
